<header class="password-page__header" role="banner"  data-section-id="{{ section.id }}" data-section-type="password-header">
  <div class="password-page__header__inner">
    <a href="#LoginModal" class="js-modal-open-login-modal password-login">
      <span class="password__lock">
        {% include 'icon-lock' %}
      </span>
      {{ 'general.password_page.password_link' | t }}
    </a>

    <div class="password-page__logo">
      <h1 class="h2" itemscope itemtype="http://schema.org/Organization">
        {% if section.settings.logo != blank %}
          {%- assign header_logo_size = section.settings.desktop_logo_height | prepend: 'x' -%}
          {%- assign header_logo_size_mobile = section.settings.mobile_logo_height | prepend: 'x' -%}
          {% style %}
            .password-page__logo h1 {
              height: {{ section.settings.mobile_logo_height }}px;
            }
            @media only screen and (min-width: 590px) {
              .password-page__logo h1 {
                height: {{ section.settings.desktop_logo_height }}px;
              }
            }
          {% endstyle %}
          <img
            class="small--hide"
            src="{{ section.settings.logo | img_url: header_logo_size }}"
            srcset="{{ section.settings.logo | img_url: header_logo_size }} 1x, {{ section.settings.logo | img_url: header_logo_size, scale: 2 }} 2x"
            alt="{{ section.settings.logo.alt | default: shop.name }}"
            itemprop="logo">
          <img
            class="medium-up--hide"
            src="{{ section.settings.logo | img_url: header_logo_size_mobile }}"
            srcset="{{ section.settings.logo | img_url: header_logo_size_mobile }} 1x, {{ section.settings.logo | img_url: header_logo_size_mobile, scale: 2 }} 2x"
            alt="{{ section.settings.logo.alt | default: shop.name }}">
        {% else %}
          <span>{{ shop.name }}</span>
        {% endif %}
      </h1>
    </div>
  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "class": "password-header-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "desktop_logo_height",
        "label": "Desktop logo height",
        "default": 100,
        "min": 20,
        "max": 120,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "mobile_logo_height",
        "label": "Mobile logo height",
        "default": 60,
        "min": 20,
        "max": 120,
        "unit": "px"
      }
    ]
  }
{% endschema %}
